@media (max-aspect-ratio: 9/21) {
    .grid-main {
        grid-template-areas:
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. bb bb .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. bb bb .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. vf vf vf vf vf vf vf vf .. .. .. .. .."
        ".. .. .. .. .. vf vf vf vf vf vf vf vf .. .. .. .. .."
        ".. .. .. .. .. vf vf vf vf vf vf vf vf .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. rb rb rb rb rb rb rb rb .. .. .. .. .."
        ".. .. .. .. .. rb rb rb rb rb rb rb rb .. .. .. .. .."
        ".. .. .. .. .. rb rb rb rb rb rb rb rb .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. sb sb sb sb sb sb sb sb .. .. .. .. .."
        ".. .. .. .. .. sb sb sb sb sb sb sb sb .. .. .. .. .."
        ".. .. .. .. .. sb sb sb sb sb sb sb sb .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. hb hb .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. hb hb .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. ..";
    }
}

@media (min-aspect-ratio: 9/21) {
    .grid-main {
        grid-template-areas:
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. bb bb .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. bb bb .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. vf vf vf vf vf vf vf vf .. .. .. .. .."
        ".. .. .. .. .. vf vf vf vf vf vf vf vf .. .. .. .. .."
        ".. .. .. .. .. vf vf vf vf vf vf vf vf .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. rb rb rb rb rb rb rb rb .. .. .. .. .."
        ".. .. .. .. .. rb rb rb rb rb rb rb rb .. .. .. .. .."
        ".. .. .. .. .. rb rb rb rb rb rb rb rb .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. sb sb sb sb sb sb sb sb .. .. .. .. .."
        ".. .. .. .. .. sb sb sb sb sb sb sb sb .. .. .. .. .."
        ".. .. .. .. .. sb sb sb sb sb sb sb sb .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. hb hb .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. hb hb .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. ..";
    }
}

@media (min-aspect-ratio: 1/2) {
    .grid-main {
        grid-template-areas:
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. bb bb .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. bb bb .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. vf vf vf vf vf vf vf vf .. .. .. .. .."
        ".. .. .. .. .. vf vf vf vf vf vf vf vf .. .. .. .. .."
        ".. .. .. .. .. vf vf vf vf vf vf vf vf .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. rb rb rb rb rb rb rb rb .. .. .. .. .."
        ".. .. .. .. .. rb rb rb rb rb rb rb rb .. .. .. .. .."
        ".. .. .. .. .. rb rb rb rb rb rb rb rb .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. sb sb sb sb sb sb sb sb .. .. .. .. .."
        ".. .. .. .. .. sb sb sb sb sb sb sb sb .. .. .. .. .."
        ".. .. .. .. .. sb sb sb sb sb sb sb sb .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. hb hb .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. hb hb .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. ..";
    }
}

@media (min-aspect-ratio: 9/16) {
    .grid-main {
        grid-template-areas:
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. bb bb .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. bb bb .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. vf vf vf vf vf vf vf vf .. .. .. .. .."
        ".. .. .. .. .. vf vf vf vf vf vf vf vf .. .. .. .. .."
        ".. .. .. .. .. vf vf vf vf vf vf vf vf .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. rb rb rb rb rb rb rb rb .. .. .. .. .."
        ".. .. .. .. .. rb rb rb rb rb rb rb rb .. .. .. .. .."
        ".. .. .. .. .. rb rb rb rb rb rb rb rb .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. sb sb sb sb sb sb sb sb .. .. .. .. .."
        ".. .. .. .. .. sb sb sb sb sb sb sb sb .. .. .. .. .."
        ".. .. .. .. .. sb sb sb sb sb sb sb sb .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. hb hb .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. hb hb .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. ..";
    }
}

@media (min-aspect-ratio: 1/1) {
    .grid-main {
        grid-template-areas:
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. bb bb .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. bb bb .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. vf vf vf vf vf vf vf vf .. .. .. .. .."
        ".. .. .. .. .. vf vf vf vf vf vf vf vf .. .. .. .. .."
        ".. .. .. .. .. vf vf vf vf vf vf vf vf .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. rb rb rb rb rb rb rb rb .. .. .. .. .."
        ".. .. .. .. .. rb rb rb rb rb rb rb rb .. .. .. .. .."
        ".. .. .. .. .. rb rb rb rb rb rb rb rb .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. sb sb sb sb sb sb sb sb .. .. .. .. .."
        ".. .. .. .. .. sb sb sb sb sb sb sb sb .. .. .. .. .."
        ".. .. .. .. .. sb sb sb sb sb sb sb sb .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. hb hb .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. hb hb .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. ..";
    }
}

@media (min-aspect-ratio: 16/9) {
    .grid-main {
        grid-template-areas:
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. bb bb .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. bb bb .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. vf vf vf vf vf vf vf vf vf vf .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. vf vf vf vf vf vf vf vf vf vf .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. vf vf vf vf vf vf vf vf vf vf .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. rb rb rb rb rb rb rb rb rb rb .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. rb rb rb rb rb rb rb rb rb rb .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. rb rb rb rb rb rb rb rb rb rb .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. sb sb sb sb sb sb sb sb sb sb .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. sb sb sb sb sb sb sb sb sb sb .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. sb sb sb sb sb sb sb sb sb sb .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. hb hb .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. hb hb .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. ..";
    }
}

@media (min-aspect-ratio: 2/1) {
    .grid-main {
        grid-template-areas:
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. bb bb .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. bb bb .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. vf vf vf vf vf vf vf vf vf vf .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. vf vf vf vf vf vf vf vf vf vf .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. vf vf vf vf vf vf vf vf vf vf .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. rb rb rb rb rb rb rb rb rb rb .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. rb rb rb rb rb rb rb rb rb rb .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. rb rb rb rb rb rb rb rb rb rb .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. sb sb sb sb sb sb sb sb sb sb .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. sb sb sb sb sb sb sb sb sb sb .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. sb sb sb sb sb sb sb sb sb sb .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. hb hb .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. hb hb .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. ..";
    }
}

@media (min-aspect-ratio: 21/9) {
    .grid-main {
        grid-template-areas:
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. bb bb .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. bb bb .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. vf vf vf vf vf vf vf vf vf vf .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. vf vf vf vf vf vf vf vf vf vf .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. vf vf vf vf vf vf vf vf vf vf .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. rb rb rb rb rb rb rb rb rb rb .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. rb rb rb rb rb rb rb rb rb rb .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. rb rb rb rb rb rb rb rb rb rb .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. sb sb sb sb sb sb sb sb sb sb .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. sb sb sb sb sb sb sb sb sb sb .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. sb sb sb sb sb sb sb sb sb sb .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. hb hb .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. hb hb .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. ..";
    }
}

#verification-field {
    grid-area: vf;
}

#resend-button {
    grid-area: rb;
}

#submit-button {
    grid-area: sb;
}

#back-button {
    grid-area: bb;
}

#help-button {
    grid-area: hb;
}