<div class="grid-main">
    <!-- LOGO -->
    <img id="logo" src="assets/logo.svg" alt="Cam Tag Logo" />
    <!-- CREATE GAME -->
    <button id="create-game" type="button" routerLink='/create'>CREATE GAME</button>
    <!-- JOIN GAME -->
    <button id="join-game" type="button" routerLink='/join'>JOIN GAME</button>
    <!-- HELP -->
    <button id="help-button" type="button" (click)="showHelp()">
        <img id="help-button-img" src="assets/help-button.svg" alt="Help Button" />
    </button>
    <!-- VERSION -->
    <span id="game-version">v 1.0</span>
</div>