@media (max-aspect-ratio: 9/21) {
    .grid-main {
        grid-template-areas:
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. lg lg lg lg lg lg lg lg .. .. .. .. .."
        ".. .. .. .. .. lg lg lg lg lg lg lg lg .. .. .. .. .."
        ".. .. .. .. .. lg lg lg lg lg lg lg lg .. .. .. .. .."
        ".. .. .. .. .. lg lg lg lg lg lg lg lg .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. cg cg cg cg cg cg cg cg .. .. .. .. .."
        ".. .. .. .. .. cg cg cg cg cg cg cg cg .. .. .. .. .."
        ".. .. .. .. .. cg cg cg cg cg cg cg cg .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. jg jg jg jg jg jg jg jg .. .. .. .. .."
        ".. .. .. .. .. jg jg jg jg jg jg jg jg .. .. .. .. .."
        ".. .. .. .. .. jg jg jg jg jg jg jg jg .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. gv gv gv .. .. .. .. hb hb .. .. .. .. .. .. .. .."
        ".. gv gv gv .. .. .. .. hb hb .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. ..";
    }
}

@media (min-aspect-ratio: 9/21) {
    .grid-main {
        grid-template-areas:
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. lg lg lg lg lg lg lg lg .. .. .. .. .."
        ".. .. .. .. .. lg lg lg lg lg lg lg lg .. .. .. .. .."
        ".. .. .. .. .. lg lg lg lg lg lg lg lg .. .. .. .. .."
        ".. .. .. .. .. lg lg lg lg lg lg lg lg .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. cg cg cg cg cg cg cg cg .. .. .. .. .."
        ".. .. .. .. .. cg cg cg cg cg cg cg cg .. .. .. .. .."
        ".. .. .. .. .. cg cg cg cg cg cg cg cg .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. jg jg jg jg jg jg jg jg .. .. .. .. .."
        ".. .. .. .. .. jg jg jg jg jg jg jg jg .. .. .. .. .."
        ".. .. .. .. .. jg jg jg jg jg jg jg jg .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. gv gv gv .. .. .. .. hb hb .. .. .. .. .. .. .. .."
        ".. gv gv gv .. .. .. .. hb hb .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. ..";
    }
}

@media (min-aspect-ratio: 1/2) {
    .grid-main {
        grid-template-areas:
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. lg lg lg lg lg lg lg lg .. .. .. .. .."
        ".. .. .. .. .. lg lg lg lg lg lg lg lg .. .. .. .. .."
        ".. .. .. .. .. lg lg lg lg lg lg lg lg .. .. .. .. .."
        ".. .. .. .. .. lg lg lg lg lg lg lg lg .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. cg cg cg cg cg cg cg cg .. .. .. .. .."
        ".. .. .. .. .. cg cg cg cg cg cg cg cg .. .. .. .. .."
        ".. .. .. .. .. cg cg cg cg cg cg cg cg .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. jg jg jg jg jg jg jg jg .. .. .. .. .."
        ".. .. .. .. .. jg jg jg jg jg jg jg jg .. .. .. .. .."
        ".. .. .. .. .. jg jg jg jg jg jg jg jg .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. gv gv gv .. .. .. .. hb hb .. .. .. .. .. .. .. .."
        ".. gv gv gv .. .. .. .. hb hb .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. ..";
    }
}

@media (min-aspect-ratio: 9/16) {
    .grid-main {
        grid-template-areas:
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. lg lg lg lg lg lg lg lg .. .. .. .. .."
        ".. .. .. .. .. lg lg lg lg lg lg lg lg .. .. .. .. .."
        ".. .. .. .. .. lg lg lg lg lg lg lg lg .. .. .. .. .."
        ".. .. .. .. .. lg lg lg lg lg lg lg lg .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. cg cg cg cg cg cg cg cg .. .. .. .. .."
        ".. .. .. .. .. cg cg cg cg cg cg cg cg .. .. .. .. .."
        ".. .. .. .. .. cg cg cg cg cg cg cg cg .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. jg jg jg jg jg jg jg jg .. .. .. .. .."
        ".. .. .. .. .. jg jg jg jg jg jg jg jg .. .. .. .. .."
        ".. .. .. .. .. jg jg jg jg jg jg jg jg .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. gv gv gv .. .. .. .. hb hb .. .. .. .. .. .. .. .."
        ".. gv gv gv .. .. .. .. hb hb .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. ..";
    }
}

@media (min-aspect-ratio: 1/1) {
    .grid-main {
        grid-template-areas:
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. lg lg lg lg lg lg lg lg .. .. .. .. .."
        ".. .. .. .. .. lg lg lg lg lg lg lg lg .. .. .. .. .."
        ".. .. .. .. .. lg lg lg lg lg lg lg lg .. .. .. .. .."
        ".. .. .. .. .. lg lg lg lg lg lg lg lg .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. cg cg cg cg cg cg cg cg .. .. .. .. .."
        ".. .. .. .. .. cg cg cg cg cg cg cg cg .. .. .. .. .."
        ".. .. .. .. .. cg cg cg cg cg cg cg cg .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. jg jg jg jg jg jg jg jg .. .. .. .. .."
        ".. .. .. .. .. jg jg jg jg jg jg jg jg .. .. .. .. .."
        ".. .. .. .. .. jg jg jg jg jg jg jg jg .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. gv gv gv .. .. .. .. hb hb .. .. .. .. .. .. .. .."
        ".. gv gv gv .. .. .. .. hb hb .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. ..";
    }
}

@media (min-aspect-ratio: 16/9) {
    .grid-main {
        grid-template-areas:
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. lg lg lg lg lg lg lg lg lg lg .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. lg lg lg lg lg lg lg lg lg lg .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. lg lg lg lg lg lg lg lg lg lg .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. lg lg lg lg lg lg lg lg lg lg .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. lg lg lg lg lg lg lg lg lg lg .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. cg cg cg cg cg cg cg cg cg cg .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. cg cg cg cg cg cg cg cg cg cg .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. cg cg cg cg cg cg cg cg cg cg .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. jg jg jg jg jg jg jg jg jg jg .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. jg jg jg jg jg jg jg jg jg jg .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. jg jg jg jg jg jg jg jg jg jg .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. gv gv gv .. .. .. .. .. .. .. .. .. .. .. hb hb .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. gv gv gv .. .. .. .. .. .. .. .. .. .. .. hb hb .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. ..";
    }
}

@media (min-aspect-ratio: 2/1) {
    .grid-main {
        grid-template-areas:
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. lg lg lg lg lg lg lg lg lg lg .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. lg lg lg lg lg lg lg lg lg lg .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. lg lg lg lg lg lg lg lg lg lg .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. lg lg lg lg lg lg lg lg lg lg .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. lg lg lg lg lg lg lg lg lg lg .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. cg cg cg cg cg cg cg cg cg cg .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. cg cg cg cg cg cg cg cg cg cg .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. cg cg cg cg cg cg cg cg cg cg .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. jg jg jg jg jg jg jg jg jg jg .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. jg jg jg jg jg jg jg jg jg jg .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. jg jg jg jg jg jg jg jg jg jg .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. gv gv gv .. .. .. .. .. .. .. .. .. .. .. .. .. hb hb .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. gv gv gv .. .. .. .. .. .. .. .. .. .. .. .. .. hb hb .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. ..";
    }
}

@media (min-aspect-ratio: 21/9) {
    .grid-main {
        grid-template-areas:
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. lg lg lg lg lg lg lg lg lg lg .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. lg lg lg lg lg lg lg lg lg lg .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. lg lg lg lg lg lg lg lg lg lg .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. lg lg lg lg lg lg lg lg lg lg .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. lg lg lg lg lg lg lg lg lg lg .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. cg cg cg cg cg cg cg cg cg cg .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. cg cg cg cg cg cg cg cg cg cg .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. cg cg cg cg cg cg cg cg cg cg .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. jg jg jg jg jg jg jg jg jg jg .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. jg jg jg jg jg jg jg jg jg jg .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. jg jg jg jg jg jg jg jg jg jg .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. gv gv gv .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. hb hb .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. gv gv gv .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. hb hb .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. ..";
    }
}

#logo {
    grid-area: lg;
}

#create-game {
    grid-area: cg;
}

#join-game {
    grid-area: jg;
}

#help-button {
    grid-area: hb;
}

#game-version {
    grid-area: gv;
}