@media (max-aspect-ratio: 9/21) {
    .grid-main {
        grid-template-areas:
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. bb bb .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. bb bb .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. ..";
    }
}

@media (min-aspect-ratio: 9/21) {
    .grid-main {
        grid-template-areas:
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. bb bb .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. bb bb .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. ..";
    }
}

@media (min-aspect-ratio: 1/2) {
    .grid-main {
        grid-template-areas:
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. bb bb .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. bb bb .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. ..";
    }
}

@media (min-aspect-ratio: 9/16) {
    .grid-main {
        grid-template-areas:
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. bb bb .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. bb bb .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. ..";
    }
}

@media (min-aspect-ratio: 1/1) {
    .grid-main {
        grid-template-areas:
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. bb bb .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. bb bb .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. ..";
    }
}

@media (min-aspect-ratio: 16/9) {
    .grid-main {
        grid-template-areas:
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. bb bb .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. bb bb .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. ..";
    }
}

@media (min-aspect-ratio: 2/1) {
    .grid-main {
        grid-template-areas:
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. bb bb .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. bb bb .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. ..";
    }
}

@media (min-aspect-ratio: 21/9) {
    .grid-main {
        grid-template-areas:
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. bb bb .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. bb bb .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep ep .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. ..";
    }
}

#error-panel {
    grid-area: ep;

    overflow-y: auto;
}

#back-button {
    grid-area: bb;
}