#message-panel {
    position: absolute;
    z-index: 1;

    top: 5vh;
    left: 5vw;

    height: 85vh;
    width: 90vw;

    background: hsl(0, 0%, 20%);
    padding: 2.5%;
}

.close {
    position: absolute;
    z-index: 1;

    width: 90vw;
    height: 5vh;
    
    bottom: 5vh;
    left: 5vw;
}