@media (max-aspect-ratio: 9/21) {
    .grid-main {
        grid-template-areas:
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. bb bb .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. bb bb .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. uf uf uf uf uf uf uf uf .. .. .. .. .."
        ".. .. .. .. .. uf uf uf uf uf uf uf uf .. .. .. .. .."
        ".. .. .. .. .. uf uf uf uf uf uf uf uf .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. cf cf cf cf cf cf cf cf .. .. .. .. .."
        ".. .. .. .. .. cf cf cf cf cf cf cf cf .. .. .. .. .."
        ".. .. .. .. .. cf cf cf cf cf cf cf cf .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. cb cb cb cb cb cb cb cb .. .. .. .. .."
        ".. .. .. .. .. cb cb cb cb cb cb cb cb .. .. .. .. .."
        ".. .. .. .. .. cb cb cb cb cb cb cb cb .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. hb hb .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. hb hb .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. ..";
    }
}

@media (min-aspect-ratio: 9/21) {
    .grid-main {
        grid-template-areas:
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. bb bb .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. bb bb .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. uf uf uf uf uf uf uf uf .. .. .. .. .."
        ".. .. .. .. .. uf uf uf uf uf uf uf uf .. .. .. .. .."
        ".. .. .. .. .. uf uf uf uf uf uf uf uf .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. cf cf cf cf cf cf cf cf .. .. .. .. .."
        ".. .. .. .. .. cf cf cf cf cf cf cf cf .. .. .. .. .."
        ".. .. .. .. .. cf cf cf cf cf cf cf cf .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. cb cb cb cb cb cb cb cb .. .. .. .. .."
        ".. .. .. .. .. cb cb cb cb cb cb cb cb .. .. .. .. .."
        ".. .. .. .. .. cb cb cb cb cb cb cb cb .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. hb hb .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. hb hb .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. ..";
    }
}

@media (min-aspect-ratio: 1/2) {
    .grid-main {
        grid-template-areas:
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. bb bb .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. bb bb .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. uf uf uf uf uf uf uf uf .. .. .. .. .."
        ".. .. .. .. .. uf uf uf uf uf uf uf uf .. .. .. .. .."
        ".. .. .. .. .. uf uf uf uf uf uf uf uf .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. cf cf cf cf cf cf cf cf .. .. .. .. .."
        ".. .. .. .. .. cf cf cf cf cf cf cf cf .. .. .. .. .."
        ".. .. .. .. .. cf cf cf cf cf cf cf cf .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. cb cb cb cb cb cb cb cb .. .. .. .. .."
        ".. .. .. .. .. cb cb cb cb cb cb cb cb .. .. .. .. .."
        ".. .. .. .. .. cb cb cb cb cb cb cb cb .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. hb hb .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. hb hb .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. ..";
    }
}

@media (min-aspect-ratio: 9/16) {
    .grid-main {
        grid-template-areas:
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. bb bb .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. bb bb .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. uf uf uf uf uf uf uf uf .. .. .. .. .."
        ".. .. .. .. .. uf uf uf uf uf uf uf uf .. .. .. .. .."
        ".. .. .. .. .. uf uf uf uf uf uf uf uf .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. cf cf cf cf cf cf cf cf .. .. .. .. .."
        ".. .. .. .. .. cf cf cf cf cf cf cf cf .. .. .. .. .."
        ".. .. .. .. .. cf cf cf cf cf cf cf cf .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. cb cb cb cb cb cb cb cb .. .. .. .. .."
        ".. .. .. .. .. cb cb cb cb cb cb cb cb .. .. .. .. .."
        ".. .. .. .. .. cb cb cb cb cb cb cb cb .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. hb hb .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. hb hb .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. ..";
    }
}

@media (min-aspect-ratio: 1/1) {
    .grid-main {
        grid-template-areas:
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. bb bb .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. bb bb .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. uf uf uf uf uf uf uf uf .. .. .. .. .."
        ".. .. .. .. .. uf uf uf uf uf uf uf uf .. .. .. .. .."
        ".. .. .. .. .. uf uf uf uf uf uf uf uf .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. cf cf cf cf cf cf cf cf .. .. .. .. .."
        ".. .. .. .. .. cf cf cf cf cf cf cf cf .. .. .. .. .."
        ".. .. .. .. .. cf cf cf cf cf cf cf cf .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. cb cb cb cb cb cb cb cb .. .. .. .. .."
        ".. .. .. .. .. cb cb cb cb cb cb cb cb .. .. .. .. .."
        ".. .. .. .. .. cb cb cb cb cb cb cb cb .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. hb hb .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. hb hb .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. ..";
    }
}

@media (min-aspect-ratio: 16/9) {
    .grid-main {
        grid-template-areas:
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. bb bb .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. bb bb .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. uf uf uf uf uf uf uf uf uf uf .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. uf uf uf uf uf uf uf uf uf uf .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. uf uf uf uf uf uf uf uf uf uf .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. cf cf cf cf cf cf cf cf cf cf .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. cf cf cf cf cf cf cf cf cf cf .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. cf cf cf cf cf cf cf cf cf cf .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. cb cb cb cb cb cb cb cb cb cb .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. cb cb cb cb cb cb cb cb cb cb .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. cb cb cb cb cb cb cb cb cb cb .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. hb hb .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. hb hb .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. ..";
    }
}

@media (min-aspect-ratio: 2/1) {
    .grid-main {
        grid-template-areas:
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. bb bb .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. bb bb .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. uf uf uf uf uf uf uf uf uf uf .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. uf uf uf uf uf uf uf uf uf uf .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. uf uf uf uf uf uf uf uf uf uf .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. cf cf cf cf cf cf cf cf cf cf .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. cf cf cf cf cf cf cf cf cf cf .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. cf cf cf cf cf cf cf cf cf cf .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. cb cb cb cb cb cb cb cb cb cb .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. cb cb cb cb cb cb cb cb cb cb .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. cb cb cb cb cb cb cb cb cb cb .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. hb hb .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. hb hb .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. ..";
    }
}

@media (min-aspect-ratio: 21/9) {
    .grid-main {
        grid-template-areas:
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. bb bb .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. bb bb .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. uf uf uf uf uf uf uf uf uf uf .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. uf uf uf uf uf uf uf uf uf uf .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. uf uf uf uf uf uf uf uf uf uf .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. cf cf cf cf cf cf cf cf cf cf .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. cf cf cf cf cf cf cf cf cf cf .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. cf cf cf cf cf cf cf cf cf cf .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. cb cb cb cb cb cb cb cb cb cb .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. cb cb cb cb cb cb cb cb cb cb .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. cb cb cb cb cb cb cb cb cb cb .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. hb hb .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. hb hb .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .."
        ".. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. ..";
    }
}

#username-field {
    grid-area: uf;
}

#contact-field {
    grid-area: cf;
}

#create-button {
    grid-area: cb;
}

#back-button {
    grid-area: bb;
}

#help-button {
    grid-area: hb;
}